<html ng-app="heartonia">
<head>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../node_modules/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> 
    <script src="../node_modules/angular/angular.min.js" type="text/javascript"></script>
    
    <script src="../node_modules/restangular/node_modules/lodash/index.js" type="text/javascript"></script>
    <script src="../node_modules/restangular/dist/restangular.min.js" type="text/javascript"></script>
    <script src="dependencies/ng-infinite-scroll.min.js" type="text/javascript"></script>
    
    <script src="js/app.js" type="text/javascript"></script>    
    <script src="js/hearthapi.js" type="text/javascript"></script>
    <script src="js/mainctrl.js" type="text/javascript"></script>
</head>

<body>
    <div class="container" ng-controller="mainCtrl">
        <div class="row">
            <form class="form-inline">
              <div class="form-group">
                <label for="exampleInputName2">Attack</label>
                <input type="text" class="form-control" id="attack" placeholder="Attack" ng-model="attack" ng-change="limit = 21">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail2">Mana</label>
                <input type="text" class="form-control" id="mana" placeholder="Mana" ng-model="cost" ng-change="limit = 21">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail2">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name" ng-model="search.name" ng-change="limit = 21">
              </div>
<!--              <button type="submit" class="btn btn-default" ng-click="refresh()">Refresh</button>-->
            </form>
        </div>
        <div class="row">
            <div class="col-xs-12" infinite-scroll="more();"  infinite-scroll-distance="3">
                <div ng-repeat="card in cards | equals : 'cost' : cost | equals : 'attack' : attack | filter : search | limitTo : limit track by card.cardId" class="col-xs-4">
                    <img ng-src="{{card.img}}"/>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>